@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
   background-color: #0378A6;
}
main {
    background-color: #F2B441;
    width: 900px; 
    margin: auto;
    border-radius: 5px;
}
h1, h2, p, ul {
    color: #04AD;
}
footer {
    text-align: right;
}
input {
    border-radius: 5px;
    border-color: #85A653;
    background-color: #85A653;
}
#nome {
    width: 185px; 
}
section {
    margin-top: 40px;
    border-radius: 5px;
}
#numero{
    width: 80px;
}
#resultadoTabuada {
    margin-left: 10px;
    background-color: white;
    width: 120px;
    border-radius: 5px;
    text-align: center;
}
#lista {
    margin-left: 130px;
    margin-top: -106px;
}
#res1{
    margin-left: 10px;
    background-color: white;
    width: 120px;
    border-radius: 5px;
    text-align: center; 
}
#res3, #res4, #res5, #res6, #res7, #res8 {
    margin-left: 10px;
    background-color: white;
    width: 200px;
    text-align: center; 
    border-radius: 5px;
}
#res2 {
    margin-left: 10px;
    background-color: white;
    width: 350px;
    padding: auto;
    border-radius: 5px;
    text-align: center;
}
#banana {
    margin-left: 10px;
}
#maça {
    margin-left: 190px;
    margin-top: -230px;
}
#uva {
    margin-left: 370px;
    margin-top: -210px;
}
#abacate {
    margin-left: 540px;
    margin-top: -190px;
}
#morango {
    margin-left: 700px;
    margin-top: -440px;
}
#goiaba {
    margin-left: 15px;
}
#melao {
    margin-left: 215px;
    margin-top: -190px;
}
#mamao {
    margin-left: 380px;
    margin-top: -200px;
}
#melancia {
    margin-left: 545px;
    margin-top: -180px;
}
#limao {
    margin-left: 710px;
    margin-top: -245px;
}
iframe {
    width: 560px; 
    height: 315px;
    border-radius:5px; 
    margin-left: 150px;
}
/*
#0378A6
#04ADBF
#0DF205
#85A653
#F2B441
*/